{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-6">
<img src="{{products.img.url}}" width="300" height="300"><br><br>

        </div>
<div class="col-md-6">
    <h5>{{products.name}}</h5>
    <h6>{{products.desc}}</h6>
    <h6>{{products.year}}</h6>
<a class="btn btn-warning" href="{% url 'webapp:update' products.id %}">Update</a>
<a class="btn btn-danger" href="{% url 'webapp:delete' products.id %}">Delete</a>

</div>
 </div>
</div>
{% endblock %}
